@font-face {
  font-family: FedokaOne;
  src: url("../../shared/fonts/Fredoka_One/FredokaOne-Regular.ttf");
}

.author-block {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #c5ca2b;
  animation: bg-color 20s infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }
}

.author-text {
  font-family: FedokaOne, monospace;
  font-size: 14px;
  color: #fff;

  &__link {
    color: rgb(255, 255, 255);
    filter: invert(0);
    transition: color 0.5s;
    &:hover {
      color: rgb(22, 22, 22);
    }
  }
}

@keyframes bg-color {
  0% {
    background-color: #c5ca2b;
  }
  25% {
    background-color: #f1c40f;
  }
  75% {
    background-color: #c5ca2b;
  }
  100% {
    background-color: #c5ca2b;
  }
}
