.contact-block {
  background-color: #eef97840;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 5%;

  &__column {
    flex: 1 1 0px;
  }
}

.contact-block-credentials {
  background: linear-gradient(45deg, #222, #474306);
  width: 100%;
  min-height: 100px;
  padding: 35px 20px;
  list-style-type: none;
  color: #f9f9f9;

  &__title {
    font-size: 18px;
  }

  &__item {
    font-size: 14px;
  }

  &__item,
  &__title {
    padding: 5px 0px;
  }
}

.contact-column {
  max-width: 360px;
  margin: auto;
  &__heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    height: 60px;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  max-width: 240px;
  &__content {
    text-align: left;
    color: #222;
  }
  &__image {
    display: block;
    width: 24px;
  }
}

@media (max-width: 800px) {
  .contact-block {
    flex-direction: column;
  }
}
