.gallery-block {
  height: 100%;
  padding: 20px 5%;
  display: block;

  &__title {
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
  }

  &__content {
    display: block;
    min-height: 210px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  gap: 10px;

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.2);
    }

    &-4 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &-10 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
}

@media (max-width: 1100px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    &__item {
      &-4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
      }
      &-10 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    }
  }
}
