.history-page {
  padding-top: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  gap: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background: linear-gradient(90deg, #ecf862, #ffffff00);
  }

  &__heading {
    display: block;
    width: 100%;
    height: 100px;
    padding: 0 5%;
  }

  &__topic {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    width: 100%;
  }
}

.additional-info {
  width: 100%;
  background-color: #eef97840;
  position: relative;
  padding: 40px 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
  }
}

.ul-block {
  display: block;
  width: 100%;
  margin: 10px 0;
  > li {
    list-style-type: none;
    line-height: 40px;
  }
}
