.header-menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;

  height: 100%;
  background: #f9f9f9;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);

  &__logo {
    padding: 10px;
    transition: transform 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }

  &__ring {
    display: flex;
    min-width: 480px;
    justify-content: space-between;
  }

  &__open-menu {
    display: none;
  }
}

.logo {
  width: 100%;
  display: block;
}

@media (max-width: 1100px) {
  .header-menu {
    &__logo {
      width: 160px;
      position: relative;
      right: 40px;
      top: 0;
    }
    &__ring {
      display: none;
    }
    &__open-menu {
      display: block;
    }
  }
}
